<div id="img_content">
	<%= render @posts%>
</div>

<%= will_paginate(@posts, :renderer => PaginationListLinkRenderer, :page_links => false) %>
<% if admin? %>
<%= link_to "New Quote", new_post_path %>
<% end %>